
body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: #1F1F1F;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
	display: block;
	justify-content: center;
	align-items: Center;
}

#container{
	display: block;	
	justify-content: space-around ;
	
}
#name{
	color: #969696;
}
#buttons {
	display: flex;
	justify-content: space-between;
	align-items: Center;
}
.element{
	display: flex;
	justify-content: center;
	align-items: Center;
}
#tempo{
	font-size: 60px;
	font-family: Quartz, sans-serif ;
	color: white;
}

#name{
	font-size: 30px;
	
}
.button{
	display: flex;
	justify-content: center;
	align-items:center;
	margin: 0% 2%;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	font-size: 15px;
}
#botton{
	display: flex;
	justify-content: center;
	
}

#start_stop{
	background: #292A2F;
	border: 2px solid green;
	color: green;
}

#cut_reset{
	background: #292A2F;
	border: 2px solid  gray;
	color: gray;
}

hr{
	background: #2C2C2C;
}

#num{
	color: white;
	display: flex;
	justify-content: space-evenly;
}

#mostrar_corte {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    background: #292A2F;
    color: #969696;
    height: 100%;
    font-size: 20px;
}

#mostrar_corte span {
    margin: 5px 0; 
}

#each_cut{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.corte_par{
	background: #1F1F1F;
}
.corte_impar {
	background: #292A2F;
}

@media (max-width: 600px) {
	#name{
		font-size: 15px;
	}
	#tempo{
		font-size: 35px;
	}
	.button{
		border-radius: 50%;
		width: 55px;
		height: 55px;
		font-size: 10px;
	}
	#mostrar_corte{
		font-size: 15px;
	}
}